global
  log stdout format raw local0

defaults
  log global
  mode http
  timeout connect 5s
  timeout client 60s
  timeout server 60s

resolvers docker
  nameserver dns 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid 10s

frontend s3
  bind :9000
  default_backend ess_data_nodes

backend ess_data_nodes
  balance roundrobin
  option httpchk GET /health/ready
  http-check expect status 200
  server data-a data-a:9000 check resolvers docker init-addr last,libc,none
  server data-b data-b:9000 check resolvers docker init-addr last,libc,none
